<!DOCTYPE html>
<html>

<head>
    <title>Issue Tracker</title>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
</head>

<body ng-app="trackerApp" ng-controller="tracker">
    <nav class="navbar navbar-default navbar-static-top">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Issue Tracker</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
            </ul>
        </div>

    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <div>
                        <input ng-model="link" type="text" class="form-control" placeholder="example: https://github.com/mbostock/d3">
                    </div>
                    <span class="input-group-btn">
						<button ng-click="getNumberOfIssues()" class="btn btn-primary" type="button">Get Issues!</button>
					</span>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div id="status" style="display:None" class="col-lg-6">
				<!-- table showing total issues opened and recieved -->
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Issues opened</th>
                            <th>Issues recieved</th>
                            <th>Lost/deleted issues</th>
                            <th>Status</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ totalIssues }}</td>
                            <td>{{ totalIssuesRecvd }}</td>
                            <td>{{ totalIssues-totalIssuesRecvd }}</td>
                            <td>{{ retrievalStatus }}</td>
                            <tr>
                    </tbody>
                </table>
            </div>
            <div id="dateButton" style="display:None" class="col-lg-12">
                <button ng-click="getIssuesByDate()" class="btn btn-primary" type="button">Get Issues By Date!</button>
                <p></p>
                <br>
            </div>
            <br>
            <div class="col-lg-8" id="filtered" style="display:None">
				<!-- table showing issues filtered by date -->
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Filter</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
						<tr>
                            <td>Total issues w/o pull requests</td>
                            <td> {{ actualIssues.length }} </td>
                        </tr>
						<tr>
                            <td>Total pull requests</td>
                            <td> {{ pullRequests.length }} </td>
                        </tr>
                        <tr>
                            <td>Total open issues</td>
                            <td> {{ totalOpenIssues.length }} </td>
                        </tr>
                        <tr>
                            <td>Total closed issues</td>
                            <td> {{ totalClosedIssues.length }} </td>
                        </tr>
						<tr>
                            <td>Total open issues w/o pull requests</td>
                            <td> {{ openActualIssues.length }} </td>
                        </tr>
						<tr>
                            <td>Total closed issues w/o pull requests</td>
                            <td> {{ closedActualIssues.length }} </td>
                        </tr>
						<tr>
                            <td>Total open pull requests</td>
                            <td> {{ openPullRequests.length }} </td>
                        </tr>
						<tr>
                            <td>Total closed pull requests</td>
                            <td> {{ closedPullRequests.length }} </td>
                        </tr>
						<tr>
                            <td>Number of open issues that were opened less than 24 hours ago</td>
                            <td>{{ lastDay.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of open issues that were opened more than 24 hours ago but less than 7 days ago</td>
                            <td>{{ lastWeek.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of open issues that were opened more than 7 days ago</td>
                            <td>{{ morethanWeek.length }}</td>
                        </tr>
						<tr>
                            <td>Number of open issues w/o pull requests that were opened less than 24 hours ago</td>
                            <td>{{ lastDay_wo_pull.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of open issues w/o pull requests that were opened more than 24 hours ago but less than 7 days ago</td>
                            <td>{{ lastWeek_wo_pull.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of open issues w/o pull requests that were opened more than 7 days ago</td>
                            <td>{{ morethanWeek_wo_pull.length }}</td>
                        </tr>
						<tr>
                            <td>Number of pull requests that were opened less than 24 hours ago</td>
                            <td>{{ lastDay_pull.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of pull requests that were opened more than 24 hours ago but less than 7 days ago</td>
                            <td>{{ lastWeek_pull.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of pull requests that were opened more than 7 days ago</td>
                            <td>{{ morethanWeek_pull.length }}</td>
                        </tr>
						<tr>
                            <td>Number of closed issues that were opened less than 24 hours ago</td>
                            <td>{{ lastDay_closed.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of closed issues that were opened more than 24 hours ago but less than 7 days ago</td>
                            <td>{{ lastWeek_closed.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of closed issues that were opened more than 7 days ago</td>
                            <td>{{ morethanWeek_closed.length }}</td>
                        </tr>
						<tr>
                            <td>Number of closed issues w/o pull requests that were opened less than 24 hours ago</td>
                            <td>{{ lastDay_wo_pull_closed.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of closed issues w/o pull requests that were opened more than 24 hours ago but less than 7 days ago</td>
                            <td>{{ lastWeek_wo_pull_closed.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of closed issues w/o pull requests that were opened more than 7 days ago</td>
                            <td>{{ morethanWeek_wo_pull_closed.length }}</td>
                        </tr>
						<tr>
                            <td>Number of closed pull requests that were opened less than 24 hours ago</td>
                            <td>{{ lastDay_pull_closed.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of closed pull requests that were opened more than 24 hours ago but less than 7 days ago</td>
                            <td>{{ lastWeek_pull_closed.length }} </td>
                        </tr>
                        <tr>
                            <td>Number of closed pull requests that were opened more than 7 days ago</td>
                            <td>{{ morethanWeek_pull_closed.length }}</td>
                        </tr>
                        <tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="javascripts/tracker.js"></script>
</body>